.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
}

.info-container-row {
    display: flex;
    justify-content: space-between;
}

.info-container-row > :last-child {
    font-weight: bold;
}

@keyframes smooth-appear {
    from {
        top: 20px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

.car-container:hover {
    box-shadow: 0 5px 10px #bfdefb;
}

.car-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: #f0f6fd;
    border-radius: 15px;
    border: none;
    box-shadow: 0 3px 5px #dbecfd;
    padding: 0;
    animation: smooth-appear 0.5s ease forwards;
    position: relative;
    animation-fill-mode: none;
}

.car-container :last-child {
    margin-top: auto;
}

.car-photo {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.price {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    padding: 0 20px 10px 0;
}

